body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u23726 {
  border-width:0px;
  position:absolute;
  left:-357px;
  top:104px;
  width:1920px;
  height:979px;
  display:flex;
}
#u23726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23727 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:54px;
  width:49px;
  height:17px;
  display:flex;
}
#u23727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23728 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:54px;
  width:37px;
  height:17px;
  display:flex;
}
#u23728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23729 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:54px;
  width:37px;
  height:17px;
  display:flex;
}
#u23729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23730 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:54px;
  width:49px;
  height:17px;
  display:flex;
}
#u23730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23731 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:54px;
  width:49px;
  height:17px;
  display:flex;
}
#u23731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23731_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23732 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:54px;
  width:37px;
  height:17px;
  display:flex;
}
#u23732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23733 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:54px;
  width:49px;
  height:17px;
  display:flex;
}
#u23733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23734 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:54px;
  width:37px;
  height:17px;
  display:flex;
}
#u23734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23735 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:54px;
  width:37px;
  height:17px;
  display:flex;
}
#u23735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23735_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23736 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:54px;
  width:37px;
  height:17px;
  display:flex;
}
#u23736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
