.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._正文文字 {
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#111111;
  text-align:left;
}
.box_1 {
}
.iconfont {
  font-family:'iconfont', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._文本段落 {
  text-align:left;
}
.box_2 {
}
.box_3 {
}
.button {
}
.ellipse {
}
.paragraph {
  text-align:left;
}
.image {
}
.placeholder {
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.label {
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.horizontal_line {
}
.line {
}
._形状 {
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.shape {
}
.connector {
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.image1 {
  color:#000000;
}
.vertical_line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.sticky_1 {
  text-align:left;
}
._形状1 {
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._图片_ {
}
.icon {
}
.flow_shape {
}
._待xx {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
._连接 {
}
.form_hint1 {
  color:#999999;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.new_style {
}
._辅助文字1 {
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._流程形状 {
}
._小标题 {
  font-family:'.萍方-简 中粗体', '.萍方-简 正规体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#282828;
  text-align:left;
}
._强调 {
  font-family:'.萍方-简 中粗体', '.萍方-简 正规体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#484848;
  text-align:left;
}
.___14px__333 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.___12px__333 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
._辅助文字_12px__666 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
._____12px__c6c6c6 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C6C6C6;
  text-align:left;
}
._失效文字 {
  font-family:'.萍方-简 正规体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C0C0;
  text-align:left;
}
._链接文字 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#46B7FF;
  text-align:left;
}
._错误文字 {
  font-family:'.萍方-简 正规体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F5222D;
  text-align:left;
}
._提示文字 {
  font-family:'.萍方-简 正规体', '.萍方-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_area1 {
  color:#000000;
  text-align:left;
}
.image2 {
}
.checkbox1 {
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.flow_shape1 {
}
.table {
}
._线段 {
}
._连接1 {
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
._图片 {
  color:#000000;
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.button1 {
}
.label2 {
  font-size:14px;
  text-align:left;
}
.ellipse1 {
}
.primary_button1 {
  color:#FFFFFF;
}
._表格 {
}
.button2 {
}
.shape1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
._小标题1 {
  font-family:'.萍方-简 中粗体', '.萍方-简 正规体', '.萍方-简', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#282828;
  text-align:left;
}
.radio_button2 {
  text-align:left;
}
.form_disabled1 {
}
textarea, select, input, button { outline: none; }
